@import "normalize";
@import "node_modules/susy/sass/susy";
@import "node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "mixins";
@import "fontawesome/font-awesome";
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";

// Couleur
$color1: #324D5C;
$color2: #46B29D;
$color3: #F0CA4D;
$color4: #E37B40;
$color5: #DE5B49;

// Header Styles
$h1-fontsize: 4.2rem;
$h2-fontsize: 3.56rem;
$h3-fontsize: 2.92rem;
$h4-fontsize: 2.28rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1rem;

// Media Query
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$susy: (global-box-sizing: border-box);

@include global-box-sizing(border-box);

// Structure Content

section.content
{
    @include container();
}

section.content article
{
    @include span(10 of 12);
    padding-left: 30px;
    margin-top: -($h3-fontsize / 2);
}

section.content aside
{
    @include span(2 of 12 last);
}

section.content aside ul
{
    list-style: none;
    padding-left: 0;
}

section.content aside li
{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin: 5px;
}

// Typographie

html
{
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    color: $color1;
    min-width: 320px;
}

a
{
    color: $color2;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1-fontsize; line-height: 110%; margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0;}
h2 { font-size: $h2-fontsize; line-height: 110%; margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0;}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0;}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0;}
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;}

// Text Styles
em { font-style: italic; }
strong { font-weight: 500; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
p
{
    font-weight: 400;
    line-height: 1.6;
}

// nav bar
nav section
{
    text-align: left;

}


nav section ul
{
    list-style: none;
    height: 70px;
    margin: 0;
    padding: 0;
}

nav section img
{
    height: 50px;
    vertical-align: middle;
}

nav section ul li
{
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
    line-height: 70px;
    margin: 0;

}

nav section ul li a
{
    color: $color1;
    font-weight: 700;
}

nav section ul li a:hover
{
    color: $color5;
}

nav
{
    width: 100%;
    background-color: lighten($color4, 38%);
    border-bottom: 2px solid darken(lighten($color4, 35%),20%);
    font-size: 20px;
    height: 72px;
}

// Media Query
$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

@media #{$small-and-down} {

    nav section ul li:first-child
    {
        display: none;
    }

    nav section
    {
        text-align: center;

    }


    section.content article
    {
        @include span(12 of 12 last);
        padding-left: 10px;
        padding-right: 10px;
        margin-top: -($h3-fontsize / 2);
    }

    section.content aside
    {
        display: none;
        visibility: hidden;
    }

    div.flash .left
    {
        @include span(10 of 12);
    }

    div.flash .right
    {
        @include span(2 of 12 last);
    }
}

@media #{$medium-only} {

    section.content article
    {
        @include span(12 of 12 last);
        padding-left: 30px;
        padding-right: 30px;
    }

    section.content aside
    {
        display: none;
        visibility: hidden;
    }
}

// flash message

div.flash
{
    @include container();
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.flash.alert
{
    color: $color5;
    font-size: $h5-fontsize;
    background-color: lighten($color5, 35%);
    padding-left: 30px;
    line-height: 2.8125rem;
    border: 1px solid darken(lighten($color5, 35%),10%);
    @include border-radius(10px);
}

div.flash.info
{
    color: $color3;
    font-size: $h5-fontsize;
    background-color: lighten($color3, 30%);
    padding-left: 30px;
    line-height: 2.8125rem;
    border: 1px solid darken(lighten($color3, 30%),10%);
    @include border-radius(10px);
}

div.flash.success
{
    color: $color2;
    font-size: $h5-fontsize;
    background-color: lighten($color2, 40%);
    padding-left: 30px;
    line-height: 2.8125rem;
    border: 1px solid darken(lighten($color2, 40%),10%);
    @include border-radius(10px);
}

div.flash .left
{
    @include span(11 of 12);
}

div.flash .right
{
    @include span(1 of 12 last);

    a
    {
        text-decoration: none;
        color:inherit;
    }
}

// Pagination
div.paginate
{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;

    ul
    {
        list-style: none;
        font-size: $h6-fontsize;
        padding: 0;

        li
        {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;


            a
            {
                color: $color1;

            }
        }

        li.active
        {
            background-color: lighten($color4, 20%);
            @include border-radius(10px);
        }

        li.active:hover
        {
            background-color: lighten($color4, 10%);
            @include border-radius(10px);
        }

        li:hover
        {
            background-color: lighten($color2,40%);
            @include border-radius(10px);
        }

        li:first-child a,li:last-child a
        {
            color: $color2;
        }

    }

}

// blockquote
blockquote
{
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 2px solid darken(lighten($color4, 35%),20%);
    background-color: lighten($color4, 35%);
    color: lighten($color4,10%);
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

    cite
    {
        display: block;
        font-style: italic;
        font-size: 75%;
        padding-left: 20px;
    }

}

// Formulaire
